body{
    margin: 0;
}
.box{
    background-image:url(images/Fp\ bg.png);
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 800px;
}
.box img{
    height: 80px;
    padding-top: 8px;
    padding-left: 58px;
}
.box h1{
    color: white;
    position:absolute;
    padding-top: 190px;
    padding-left: 220px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.top{
 position: absolute;
width: 247px;
height: 46px;
left: 48px;
top:10px;
color: aliceblue;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 36px;
letter-spacing: 0.185em;
}
.box form{
    padding-top: 250px;
    padding-left: 100px;
    width: 30%;
    display: flex;
    flex-direction: column;
}
.box form input{

    border: 1px solid red;
    border-radius:50px;
    font-size: 15px;
    padding:15px;
    background: linear-gradient(90.23deg, rgba(0, 0, 0, 0.61) 0.19%, rgba(0, 0, 0, 0.38) 102.56%);
    background-blend-mode: overlay;
}
.box ::placeholder{
    color: black;
}
.box form button{
    height: 47px;
    background: #FFCD2D;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 50px;
    border:1px solid #FFCD2D;
}

